
*.pro
*.pro
*.user
Algorytmy_labo/Algorytmy_labo.pro.user
Algorytmy_labo/Algorytmy_labo.pro
*.asv
Algorytmy_labo/AdvancedPrintForSkipList.cpp
*.autosave
**/build*/**
Laboratoria_Java/.idea/workspace.xml
Laboratoria_Java/.idea/vcs.xml
Laboratoria_Java/.idea/project-template.xml
Laboratoria_Java/.idea/modules.xml
Laboratoria_Java/.idea/misc.xml
Laboratoria_Java/.idea/encodings.xml
Laboratoria_Java/.idea/description.html
Laboratoria_Java/.idea/codeStyles/codeStyleConfig.xml
Laboratoria_Java/out/production/Laboratoria_Java/com/company/Main.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/Controller.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/Model.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/View.class
Laboratoria_Java/out/production/Laboratoria_Java/META-INF/Laboratoria_Java.kotlin_module
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Pracownik.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Pracownik$Job.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Pracownik$1.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/lab7_View.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/lab7_Model.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/lab7_Model$CompressionMode.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/lab7_Model$BackupJob.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/lab7_Controller.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Handlowiec.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Handlowiec$1.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Dyrektor.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_7/Dyrektor$1.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/lab5_View.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/lab5_Model.class
Laboratoria_Java/out/production/Laboratoria_Java/lab_5/lab5_Controller.class
Laboratoria_Java/backup2.zip
Laboratoria_Java/backup2.gzip
Laboratoria_Java/backup2.gz
Laboratoria_Java/asd
Laboratoria_Java/.idea/uiDesigner.xml
*.xml
*.html
*.iml
*.fxml
*.gzip
*.class
